@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Montserrat:ital,wght@1,300;1,400;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    line-height: 1.5;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    @apply font-inter font-normal bg-secondary text-white lg:text-xl;
}