@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Montserrat:ital,wght@1,300;1,400;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .o-pinpoint {
        position: relative;
    }
    .o-pinpoint::before {
        content: url("./assets/icons/PinAngle.svg");
        position: absolute;
        bottom: 46px;
        left: 28px;
        @apply lg:left-[48px] lg:bottom-[50px];
    }
    .custom-bullet {
        display: flex;
    }
    .custom-bullet::before {
        content: "-";
        margin-right: 1rem;
    }
    .header-index {
        z-index: 100000;
    }
}

:root {
    scroll-behavior: smooth;
    line-height: 1.5;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    @apply font-inter font-normal bg-secondary text-white lg:text-xl;
}
